.creations {
  margin-block: 6.4rem;
}

.creations h2 {
  margin-block-start: 0;
  margin-block-end: 3.2rem;
  font: var(--headline2MobileDesktop);
  text-transform: uppercase;
  text-align: center;
}

.creations .cards {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-block-end: 2.26rem;
}

.creations .cards .card {
  block-size: 8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.33rem;
  box-sizing: border-box;
  font: var(--headline3Mobile);
  text-transform: uppercase;
}

.creations .card span {
  display: block;
}

.creations .earth {
  background: url('../images/mobile/image-deep-earth.jpg');
}

.creations .arcade {
  background: url('../images/mobile/image-night-arcade.jpg');
}

.creations .soccer {
  background: url('../images/mobile/image-soccer-team.jpg');
}

.creations .grid {
  background: url('../images/mobile/image-grid.jpg');
}

.creations .vr {
  background: url('../images/mobile/image-from-above.jpg');
}

.creations .borealis {
  background: url('../images/mobile/image-pocket-borealis.jpg');
}

.creations .curiosity {
  background: url('../images/mobile/image-curiosity.jpg');
}

.creations .fisheye {
  background: url('../images/mobile/image-fisheye.jpg');
}

.button {
  display: block;
  margin: 0 auto;
  inline-size: 10.46rem;
  block-size: 2.66rem;
  box-sizing: border-box;
  padding: 0.86rem 2.7rem;
  font: var(--button);
  text-transform: uppercase;
  letter-spacing: 4px;
  background: transparent;
  border: 1px solid var(--black);
  cursor: pointer;
}

.button:hover {
  color: var(--white);
  background: var(--black);
}

@media screen and (min-width: 1024px){
  .creations {
    margin-block: 12.26rem;
    display: grid;
    grid-template-columns: repeat(2, 37rem);
    grid-template-rows: 8.5rem 62rem;
  }

  .creations h2 {
    font: var(--headline2Desktop);
    text-align: start;
    margin: 0;
  }

  .creations .cards{
    display: grid;
    grid-template-columns: repeat(4, 17rem);
    grid-template-rows: repeat(2, 30rem);
    gap: 2rem;
  }

  .button {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    margin: 0;
    justify-self: end;
  }

  .creations .cards .card {
    block-size: auto;
    padding: 2.66rem;
    font: var(--headline2MobileDesktop);
    cursor: pointer;
    position: relative;
  }

  .creations .cards .card:hover span{
    position: relative;
    z-index: 10;
    color: var(--black);
  }

  .creations .cards .card:hover::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.75);
  }

  .creations .earth {
    background: url('../images/desktop/image-deep-earth.jpg');
  }

  .creations .arcade {
    background: url('../images/desktop/image-night-arcade.jpg');
  }

  .creations .soccer {
    background: url('../images/desktop/image-soccer-team.jpg');
  }

  .creations .grid {
    background: url('../images/desktop/image-grid.jpg');
  }

  .creations .vr {
    background: url('../images/desktop/image-from-above.jpg');
  }

  .creations .borealis {
    background: url('../images/desktop/image-pocket-borealis.jpg');
  }

  .creations .curiosity {
    background: url('../images/desktop/image-curiosity.jpg');
  }

  .creations .fisheye {
    background: url('../images/desktop/image-fisheye.jpg');
  }
}