.menu {
  position: relative;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  background: transparent;
  border: transparent;
  color: var(--white);
  cursor: pointer;
  font-size: 1.33rem;
  padding: 0;
}

.is-close .icon-hamburger::before {
  content: "\e900";
}

.nav-toggle i {
  vertical-align: middle;
}

.links {
  position: absolute;
  left: 0;
  margin: 0;
  list-style: none;
  padding-inline-start: 0;
  background: var(--black);
  inline-size: 100%;
  block-size: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  overflow: hidden;
}

.show-links{
  block-size: 40.2rem;
}

.links li a {
  font: var(--menu);
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
}